.places {
	display: flex;
	flex-direction: column;
	padding-left: 30px;
}

.places h1 {
	font-size: 30px;
}

.place_title {
	padding-top: 10px;
	margin-bottom: -20px;
}

.articles {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: baseline;
}

.places article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: solid #FF5A5F 1px;
	border-radius: 4px;
	text-align: center;
}

article h2 {
	font-size: 30px;
}